@import url("https:fonts.googleapis.com/css2?family=Poopins:wght@300;400;500;600;700;800;900&display=swap");

 
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /*background-color: black;*/
  background-image: url(file:///D:/FOR%20DOWNLOADS/MUSIC/f1145bf5-024f-450a-b45b-93fb32dd5f52.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

img {
  float: center;
  padding-left: 65px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.wrapper {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;  
}

.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color:#fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top:  50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remember-forgot label input{
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a{
  color:#fff;
  text-decoration: none;
}

.remember-forgot a:hover{
  text-decoration: underline;
} 


.wrapper .btn{
  width: 100%;
  height: 45%;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 6200;
}

.container {
  align-items: center; 
  float: left;
}
.image{
    float: left;
  padding: 0px;
}



